@import "tailwindcss";

body {
  font-family: "Involve";
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-VF.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
