@import "tailwindcss";

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-VF.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden; /* чтобы скролл не дублировался */
}
