@import "tailwindcss";

body {
  font-family: "Involve";
}

@font-face {
  font-family: "Involve";
  src: url("/fonts/Involve-VF.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Disable Telegram Mini App scrolling */
html,
body {
}

/* Prevent pull-to-refresh and overscroll behavior */
body {
  overscroll-behavior: none;
}
